body{
	background-color:#f49f1c;
	margin:0;
	padding:10px;
	/*overflow: hidden;*/
}
.container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}
.fast-section{
	margin-top: 20px;
	background-color: #182C61;
	height: 250px;
	border-radius: 40px 40px 0  0;
	box-shadow: 0px 5px 5px 0px #000000;

}
.fast-section h1{
	text-align: center;
	padding-top: 55px;
	font-size: 50px;
	color: #f49f1c;
	letter-spacing: 6px;

}
.fast-section p{
	color: #f49f1c;
	text-align:center;
	font-size: 35px;
	letter-spacing: 3px;
}
.second-section{
	margin-top: 50px;
	background-color: #182C61;
	box-shadow: 0px 5px 5px 0px #000000;
}
.second-section .para{
 	width: 96%;
 	margin: auto;

}
.second-section .para h1{
	color:  #f49f1c;
	text-align: center;
	padding-top: 30px;
	font-size: 37px;
	letter-spacing: 5px;
}
.second-section .para p{
	color:  #f49f1c;
	text-align: justify;
	font-size: 23px;
	line-height: 30px;
	letter-spacing: 2px;
}
.second-section #img img{
	height: 400px;
	width: 400px;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	border-radius: 50%;
  }
  .second-section .para-2{
 	width: 96%;
 	margin: auto;
 }
  .second-section .para-2 p{
	color:  #f49f1c;
	text-align: justify;
	font-size: 23px;
	line-height: 30px;
	letter-spacing: 2px;
}
.second-section .list{
 	width: 96%;
 	margin: auto;
}
.second-section .list h2{
	color:  #f49f1c;
	letter-spacing: 3px;
	padding-top: 50px;
	font-size: 30px; 
}
.second-section .list ul{
	list-style: square;
	color: #f49f1c;
	font-size: 20px;
	padding-left: 20px;
	letter-spacing: 1px;
	padding-bottom: 50px;
}
.third-section{
	margin-top: 50px;
	background-color: #182C61;
	border-radius:0 0 40px 40px;
	box-shadow: 0px 5px 5px 0px #000000;
}
.third-section h2{
	color:  #f49f1c;
	letter-spacing: 3px;
	padding-top: 50px;
	font-size: 30px;
	padding-left: 22px;
}
.third-section ul{
	list-style: square;
	color: #f49f1c;
	font-size: 20px;
	padding-left: 44px;
	letter-spacing: 1px;
	padding-bottom: 50px;
}
.footer{
	height:20px;
}